<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Who Will Remember</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../static/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/css/main.css" />
		<link rel="stylesheet" href="../static/css/custom.css" />
		<link href='https://fonts.googleapis.com/css?family=Kotta+One' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><link rel="stylesheet" href="../static/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="../static/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<!-- <header id="header" class="alt">
				<h1><a href="index.html"></a></h1>
				<a href="#nav">Menu</a>
			</header> -->

		<!-- Nav -->
			<!-- <nav id="nav">
				<ul class="links">
					<li><a href="../templates/index.html">Home</a></li>
					<li><a href="../templates/generic.html">Generic</a></li>
					<li><a href="../templates/elements.html">Elements</a></li>
				</ul>
			</nav> -->


		<!-- Banner -->
			<section id="banner">
				<img id="circle-logo" src="../static/img/fishcross.jpg"></img><br><br>
				<p><em>MFM Productions Presents</em></p>
				<h2 id="title">WHO WILL REMEMBER</h2>
				<p>A Film about Armenia - 1915</p>
				<ul class="actions">
					<!-- <li><a href="#" class="button big special">Learn More</a></li> -->
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="../static/img/mother.jpg" alt="" /></span>
						<div class="content">
							<h2>WHO WILL REMEMBER "...the annihilation of the Armenians?" - A.D. 1939</h2>
							<p>Based on a screenplay written by Barbara Erysian - a second generation Armenian American.</p>
							<p id="bio">Screenwriter Barbara Erysian grew up hearing the story from her Grandmother about surviving the Armenian crisis. Later on, in middle age, Barbara reflected on her Grandma Alice’s words, “Never forget.” Looking for a medium which could reach the most people in an entertaining way she chose to write this story as a film script. This will be Ms. Erysian’s first produced screenplay. She was born in Sacramento, California.</p>
							
							<ul class="actions">
								<li>
									<a class="button alt" id="bio_btn">Read More</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="../static/img/fishcross.jpg" alt="" /></span>
						<div class="content">
							<h2>WE WILL REMEMBER</h2>
							<p>During the Armenian Genocide, a 16 year old girl taken to an orphanage converts to Islam until she can escape the Turkish soldiers trying to kill her and the children in her charge.</p>
							<p id="dedication">"This film is dedicated to my grandmother and her younger brother who escaped the Armenian Genocide of 1915 and to all the others who survived or perished. She kept him alive at an orphanage by gathering small wads of dough one breadcrumb at a time. They were rescued by a Christian man passing by who recognized the sign of the fish. They were reunited with their remaining family and immigrated to America." - Barbara Erysian</p>
							<ul class="actions">
								<li>
									<a class="button alt" id="dedication_btn"> Read More</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>Historical Context</h2>
						<p>Armenia, 1915, 100 years ago... 20 years before Hitler. The entire population of Armenian Christians was cleansed from the Ottoman Empire. Those who survived were forced to convert to Mohammadism.</p>
					</header>
					<div class="image-grid">
						<a href="#" class="image"><img src="../static/img/ancient.jpg" alt="" /></a>
						<a href="#" class="image"><img src="../static/img/baby.jpg" alt="" /></a>
						<a href="#" class="image"><img src="../static/img/map.png" alt="" /></a>
						<a href="#" class="image"><img src="../static/img/tragedy.png" alt="" /></a>
						<a href="#" class="image"><img src="../static/img/mother.jpg" alt="" /></a>
						<a href="#" class="image"><img src="../static/img/fishcross.jpg" alt="" /></a>
						<a href="#" class="image"><img src="../static/img/tragedy.png" alt="" /></a>
						<a href="#" class="image"><img src="../static/img/baby.jpg" alt="" /></a>
					</div>
					<ul class="actions">
						<li><a href="#" class="button big alt">Read More</a></li>
					</ul>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow	">
						<h2>Reader Reviews and Comments</h2>
						<p><em>"...detailed and touching...a great deal of <span class="quote_em">passion</span> and commitment..."<em> - 2nd Generation Armenian-American</p>
					</header>
					<ul class="actions">
						<li><a href="#" class="button big alt">Read More</a></li>
					</ul>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major narrow">
						<h2>Get Involved</h2>
						<p>Help us remember. If you are interested in becoming involved, please use one of the following methods to contact us.</p>
					</header>
					<form action="#" method="POST">
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" />
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="Submit" /></li>
							<li><input type="reset" class="alt" value="Reset" /></li>
						</ul>
					</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>Who Will Remember &copy; 2016</li>
						<!-- <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li> -->
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/js/main.js"></script>
			<script src="../static/js/custom.js"></script>

	</body>
</html>