<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Who Will Remember</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="A Film about Armenia - 1915" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<link href='https://fonts.googleapis.com/css?family=Arapey:400,400italic' rel='stylesheet' type='text/css'>
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/skel.min.js"></script>
		<script src="../static/js/skel-layers.min.js"></script>
		<script src="../static/js/init.js"></script>
<!-- 		<noscript> -->
			<link rel="stylesheet" href="../static/css/skel.css" />
			<link rel="stylesheet" href="../static/css/style.css" />
			<link rel="stylesheet" href="../static/css/style-xlarge.css" />
		<!-- </noscript> -->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt" style="position:fixed">
				<h1><strong><a href="#" style="color:#bdbdbd">Back to Top</a></strong></h1>
				<nav id="nav">
	<!-- 				<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/generic">Background</a></li>
						<li><a href="/elements">Donate</a></li>
					</ul> -->
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div id="who"><h2>WHO WILL REMEMBER</h2></div>
				<div id="we" style="display:none"><h2>WE WILL REMEMBER</h2></div>
				<h3><em>...the annihilation of the Armenians? A.H. - 1939</em></h3>
<!-- 				<ul class="actions">
					<li><a href="#" class="button special big">Get Started</a></li>
				</ul> -->
			</section>

			<!-- One -->
			<!-- 	<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>A film about Armenia - 1915</h2>
									<p>Based on a screenplay written by Barbara Erysian - a second generation Armenian American.</p>
									<p><em>Presented by MFM Products</em></p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ea mollitia corporis id, distinctio sunt veritatis officiis dolore reprehenderit deleniti voluptatibus harum magna, doloremque alias quisquam minus, eaque. Feugiat quod, nesciunt! Iste quos ipsam, iusto sit esse.</p>
								<p>Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum enim neque soluta vel sunt id ex veritatis. Labore rerum, odit sapiente, alias mollitia magnam exercitationem modi amet earum quia atque ipsum voluptas asperiores quas laboriosam.</p>
							</div>
						</div>
					</div>
				</section> -->

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>A Film about Armenia - 1915</h2>
							<p>Based on a screenplay written by Barbara Erysian - a second generation Armenian American.</p>
							<p><em>Presented by MFM Products</em><p>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="../static/img/fish.JPG" style="height:425px"alt="" />
									<h3>About</h3>
									<p>This film tells the story of one girl and how she found the courage to keep her little brother alive during the tragic events of 1915.</p>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="../static/img/mother.jpg" alt="" />
									<h3>Take Action</h3>
									<p>Help make this film a reality by donating to its development.</p>
								</div>
							</div>
						</div>
		<!-- 				<ul class="actions">
							<li><a href="#" class="button special big">Nulla luctus</a></li>
							<li><a href="#" class="button big">Sed vulputate</a></li>
						</ul> -->
					</div>
				</section>
					<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major" >
									<h2 style="color:white !important">Introducing the writer</h2>
									<h3 style="color:#bdbdbd !important">Barbara Erysian</h3>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>I am the granddaughter of my grandmother who survied the Armenian Genocide in 1915.</p>
							</div>
						</div>
					</div>
				</section>


				<!-- Two -->
				<section id="three" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>How can you participate?</h2>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<!-- <div class="image fit captioned"> -->
									<!-- <img src="../static/img/fish.JPG" style="height:425px"alt="" /> -->
									<h3>Donate</h3>
								<p>You can make a difference. Your donation allows us to continue this project.</p>
								<p>We will continue to connect to people and create partnerships. We will ultimately create a film dedicated to those who perished.</p>
								<!-- </div> -->
							</div>
							<div class="6u$ 12u$(xsmall)">
								<!-- <div class="image fit captioned"> -->
									<!-- <img src="../static/img/mother.jpg" alt="" /> -->
									<h3>Spread the Word</h3>
								<p>Tell your friends and family about this film. Share information about the dream to have a Hollywood film informing the world about the events of 1915.</p>
								<!-- </div> -->
							</div>
						</div>
		<!-- 				<ul class="actions">
							<li><a href="#" class="button special big">Nulla luctus</a></li>
							<li><a href="#" class="button big">Sed vulputate</a></li>
						</ul> -->
					</div>
				</section>
<!-- One -->
			<!-- 	<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>Take Action</h2>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<h3>Donate</h3>
								<p>You can make a difference. Your donation allows us to continue this project.</p>
								<p>We will continue to connect to people and create partnerships. We will ultimately create a film dedicated to those who perished.</p>
							</div>
							<div class="6u$ 12u$(medium)">
								<h3>Spread the Word</h3>
								<p>Tell your friends and family about this film. Share information about the dream to have a Hollywood film informing the world about the events of 1915.</p>
							</div>
						</div>
						<ul class="actions">
							<li><a href="#" class="button default big">Make a Donation</a></li>
							<li><a href="#" class="button default big">Join the Movement</a></li>
						</ul>
					</div>
				</section> -->
			<!-- Three -->
				<!-- <section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>A Film about Armenia - 1915</h2>
							<p>Based on a screenplay written by Barbara Erysian - a second generation Armenian American.</p>
							<p><em>Presented by MFM Products</em><p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="../static/img/fish.JPG" alt="" /></div>
								<div class="content">
									<header>
										<h4>About</h4>
										<p>Lorem ipsum dolor sit</p>
									</header>
									<p>This film tells the story of one girl and how she found the courage to keep her little brother alive during the tragic events of 1915.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="../static/img/mother.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Take Action</h4>
										<p>Ratione maiores a, commodi</p>
									</header>
									<p>Help make this film a reality by donating to its development.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="../static/img/pic06.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Laudantium fugit</h4>
										<p>Possimus ex reprehenderit eaque</p>
									</header>
									<p>Maiores iusto inventore fugit architecto est iste expedita commodi sed, quasi feugiat nam neque mollitia vitae omnis, ea natus facere.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="../static/img/pic07.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Porro aliquam</h4>
										<p>Quaerat, excepturi eveniet laboriosam</p>
									</header>
									<p>Vitae earum unde, autem labore voluptas ex, iste dolorum inventore natus consequatur iure similique obcaecati aut corporis hic in! Porro sed.</p>
								</div>
							</div>
						</div>
					</div>
				</section> -->

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Contact Barbara</h2>
							<p>Send an email by clicking the button below, or visit the Facebook page. </p>
						</header>
						<ul class="actions">
							<li><a href="mailto:berysian@gmail.com" class="button default big">Get in touch</a></li>
						</ul>
					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/Who-Will-Remember-505236196315740/?ref=hl" class="icon fa-facebook"></a></li>
					<!-- 	<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li> -->
					</ul>
					<ul class="copyright">
						<li>&copy; 2016 <a href="http://jacburge.me">jacburge.me</a></li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<!-- <li>Images: <a href="http://unsplash.com">Unsplash</a></li> -->
					</ul>
				</div>
			</footer>

	</body>
</html>