<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Who Will Remember</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../static/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/css/main.css" />
		<link rel="stylesheet" href="../static/css/custom.css" />
		<link href='https://fonts.googleapis.com/css?family=Arapey:400,400italic' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><link rel="stylesheet" href="../static/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="../static/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<!-- <header id="header" class="alt">
				<h1><a href="index.html"></a></h1>
				<a href="#nav">Menu</a>
			</header> -->

		<!-- Nav -->
			<!-- <nav id="nav">
				<ul class="links">
					<li><a href="../templates/index.html">Home</a></li>
					<li><a href="../templates/generic.html">Generic</a></li>
					<li><a href="../templates/elements.html">Elements</a></li>
				</ul>
			</nav> -->


		<!-- Banner -->
			<section id="banner">
				<img id="circle-logo" src="../static/img/fishcross.jpg"></img><br><br>
				<p><em>MFM Productions Presents</em></p>
				<h2 id="title">WHO WILL REMEMBER</h2>
				<p>A Film about Armenia - 1915</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="../static/img/tragedy.png" alt="" /></span>
						<div class="content">
							<h2>WHO WILL REMEMBER...</h2>
							<p class="quote_em" style="text-transform:none">"...the annihilation of the Armenians?" - A.D. 1939</p>
							<p>During the Armenian Genocide, a 16 year old girl taken to an orphanage converts to Islam until she can escape the Turkish soldiers trying to kill her and the children in her charge. Based on a screenplay written by Barbara Erysian - a second generation Armenian American.</p>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="../static/img/fishcross.jpg" alt="" /></span>
						<div class="content">
							<h2>WE WILL REMEMBER</h2>
							<blockquote>"This film is dedicated to my grandmother and her younger brother who escaped the Armenian Genocide of 1915 and to all the others who survived or perished. She kept him alive at an orphanage by gathering small wads of dough one breadcrumb at a time. They were rescued by a Christian man passing by who recognized the sign of the fish. They were reunited with their remaining family and immigrated to America." <br>- Barbara Erysian, Screenwriter</blockquote>
						</div>
					</article>
					<article class="feature left">
						<span class="image"><img src="../static/img/map.png" alt="" /></span>
						<div class="content">
							<h2>HISTORIAL CONTEXT</h2>
							<p>Armenia, 1915, 100 years ago... 20 years before Hitler. The entire population of Armenian Christians was cleansed from the Ottoman Empire. Those who survived were forced to convert to Mohammadism.</p>
							<div id="history"><blockquote>"Our strength consists in our speed and our brutality. Genghis Khan led millions of women and children to slaughter with premeditation and a happy heart. History sees in him solely the founder of a state. It's a matter of indifference to me what a weak western European civilization will say about me.<br><br>
								"I have issued the command and I'll have anybody who utters but one word of criticism executed by a firing squad... Accordingly, I have placed my death head formations and readiness... only in the East with orders to them to send to death mercilessly and without compassion men, women, and children of Polish derivation and language. Only thus shall we gain the living space which we need. <span class="quote_em" style="text-transform:none">Who, after all, speaks today of the annihilation of the Armenians?"</span><br>- Adolf Hitler, August 22, 1939*</blockquote>
							<p>*Kevork B. Bardakjian, <em>Hitler and the Armenian Genocide</em> (Cambridge, Massachusetts: The Zoryan Institude, 1985).</p>
						</div>

							
							<ul class="actions">
								<li>
									<a class="button alt" id="hist_btn">Read More</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="../static/img/mother.jpg" alt="" /></span>
						<div class="content">
							<h2>ABOUT</h2>
							
							<div id="">Screenwriter Barbara Erysian grew up hearing the story from her Grandmother about surviving the Armenian crisis. Later on, in middle age, Barbara reflected on her Grandma Alice’s words, “Never forget.” Looking for a medium which could reach the most people in an entertaining way she chose to write this story as a film script. This will be Ms. Erysian’s first produced screenplay. She was born in Sacramento, California.
								<br><br>
								</div>
						</div>
					</article>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow">
						<h2>Reader Reviews and Comments</h2>
						<p><em>"...detailed and touching...a great deal of <span class="quote_em">passion</span> and commitment..."<br><em> - 2nd Generation Armenian-American</p>
						<p><em>"<span class="quote_em">Incredible</span> story"<br><em> - Reader Comment</p>
						<p><em>"<span class="quote_em">...Shocking and intense...</span> grabs the audience's attention right away."<br><em> - Movie Industry Professional Review</p>
					</header>
					<div id="reviews">
						<p><em>"The breadcrumb detail is a <span class="quote_em">heartbreaking</span> one."<em><br> - Reader Comment</p>
						<p><em>"There are so many heroes within this tale and the writer does a good job in conveying their strength, their hearts, their doubts and their perseverance."<br><em> - Movie Industry Professional Review</p>
						<p><em>"...very strong style and tone. It's <span class="quote_em">bold, inspiring</span> passionate. Atrocities are atrocious, evil is unbearable, and innocent people are crafted very sympathetically. The writer is able to create a harsh world with moving moments and <span class="quote_em">beautiful characters."</span><br><em> - Movie Industry Professional Review</p>
						<p><em>"Showing these atrocities seems to be the only way that the masses become informed about these historical and <span class="quote_em">currently relevant issues of genocide.</span>"<br><em> - Movie Industry Professional Review</p>
						<p><em><span class="quote_em">"This is a powerhouse story and script."</span><br><em> - Reader Comment</p>
						<p><em>"... A story that deserves to be told... this... has huge potential. There are few films about the genocide of the Armenians, and the concept will appeal to a large number of audiences."<br><em> - Movie Industry Professional Review</p>
						<p><em>"Like all tales of war, especially those involving the massacre of entire people, this story continues to tell the tragedy of mankind in the hopes that we will learn from the mistakes of our past.<br><span class="quote_em">"...very captivating characters..."</span><br><em> - Movie Industry Professional Review</p>
						<p><em>"... Colorful characters that really sacrifice for their family, their loved ones and their ideals.<br> "The themes and messages... the horros and how much some unknown heroes sacrificed, are all very strong and aptly depicted."<br><em> - Movie Industry Professional Review</p>

						</div>
					<ul class="actions">
						<li><a class="button big alt" id="reviews_btn">Read More</a></li>
					</ul>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major narrow">
						<h2>Get Involved</h2>
						<p>Help us remember. If you are interested in becoming involved, please use one of the following methods to contact us.</p>
					</header>
					<p style="align:center"><b>MFM Productions<br>
					Max Freedman, Producer</b><br>
					MaxFMedia@gmail.com<br>
					Inside USA: 310.429.9707<br>
					Outside USA: 303.993.3272<br>
					Web: <a href="MaxFMedia.com">MaxFMedia.com</a><br>
					</p>
					<!-- <form action="#" method="POST">
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" />
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="Submit" /></li>
							<li><input type="reset" class="alt" value="Reset" /></li>
						</ul>
					</form> -->
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
			<!-- 		<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul> -->
					<ul class="copyright">
						<li>Who Will Remember &copy; 2016</li>
						<!-- <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li> -->
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/js/main.js"></script>
			<script src="../static/js/custom.js"></script>

	</body>
</html>